<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.automationWebsite.Utilis.CustomerListener"></listener>
		<listener class-name="com.automationWebsite.retryLogic.TransformerForRetry"></listener>
		<listener class-name="com.automationWebsite.ExtentReports.ExtentReportListener"></listener>

	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.automationTestPages.ShoppingCartPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->